@mixin font-face($font-family, $file-local-1, $file-local-2, $file-path, $weight: normal, $style: normal)
	@font-face
		font-family: $font-family
		font-weight: $weight
		font-style: $style

		src: local($file-local-1), local($file-local-2), url('#{$file-path}.woff2') format('woff2'), url('#{$file-path}.woff') format('woff'), url('#{$file-path}.ttf') format('truetype')
