.call-to-action
    margin-bottom: 83px
    
    > .content
        text-align: center

    > .content > .title
        font-size: 36px
        line-height: 30px

    > .content > .subtitle
        padding-bottom: 37px
        font-size: 29px
        line-height: 37px

    > .content > .buttons
        display: flex
        justify-content: center
        color: #ffffff

        @media screen and (max-width: 479px)
            margin: 0 20px
            flex-direction: column

    > .content > .buttons > .button
        display: block
        padding: 14px 24px 16px
        min-width: 166px
        border-radius: 28px

    > .content > .buttons > .button:hover
        text-decoration: none

    > .content > .buttons > .button:first-child
        margin-bottom: 10px
        background: #5f2966 url('img/button-bg-1.png') center / cover no-repeat

        @media screen and (min-width: 480px)
            margin-right: 50px
            margin-bottom: 0

    > .content > .buttons > .button:last-child
        background: #5e7bea url('img/button-bg-2.png') center / cover no-repeat