.download
    margin-top: 70px
    position: relative

    @media screen and (min-width: 750px)
        margin-top: 0

    > .content
        position: relative
        margin-left: auto
        margin-right: auto
        padding-bottom: 160px
        max-width: 440px
        text-align: right

    > .content > .title
        font-size: 36px
        color: #535353

    > .content > .subtitle
        padding-bottom: 30px
        font-size: 16px
        line-height: 22px
        color: #959393

    > .content > .buttons
        position: relative
        z-index: 1

    > .content > .buttons > .button
        padding: 0 5px

    > .content > .image-any-device
        display: none

        @media screen and (min-width: 1400px)
            position: absolute
            top: -280px
            right: -420px

.download::after

    @media screen and (min-width: 1400px)
        display: block
        content: ''
        margin-left: 22%
        margin-bottom: 80px
        width: 100%
        height: 1px
        background-color: #b9b9b9