.features
    margin-left: auto
    margin-right: auto
    margin-bottom: 60px

    display: flex
    justify-content: space-between

    max-width: 1270px

    @media screen and (max-width: 1029px)
        flex-direction: column
        align-items: center

.feature
    position: relative

    padding: 30px
    max-width: 370px

    @media screen and (min-width: 1030px)
        flex: auto

    @media screen and (min-width: 1400px)
        flex: none

    > .header
        margin-bottom: 25px
        min-height: 60px
        display: flex

    > .header > .left
        margin-right: 10px

    > .header .title
        font-size: 30px
        color: #555555
        line-height: 1.2

    > .header .subtitle
        font-size: 18px
        color: #959393
        line-height: 1

    > .content
        font-size: 14px
        color: #959393

.feature:first-child::after,
.feature:last-child::after

    @media screen and (min-width: 1400px)
        position: absolute
        display: block
        content: ""
        background: #b9b9b9

.feature:first-child::after
    top: -90px
    right: 0
    width: 1px
    height: 210px

.feature:last-child::after
    top: 30px
    left: 430px
    width: 500px
    height: 1px