.footer
    > .top
        display: flex
        flex-direction: column

        @media screen and (min-width: 1201px)
            width: calc((100vw - 1200px) / 3 + 1200px)
            border-top: 1px solid #b9b9b9
            border-right: 1px solid #b9b9b9

    > .top > .columns
        display: flex
        justify-content: space-between

        margin-left: auto

        max-width: 1200px
        width: 100%

        @media screen and (max-width: 959px)
            flex-direction: column

    > .top .left
        position: relative
        color: #5c5c5c
        max-width: 280px

        @media screen and (max-width: 959px)
            margin-bottom: 30px

    > .top .left::before
        @media screen and (min-width: 1400px)
            position: absolute
            top: 8px
            display: block
            content: ''
            width: 1px
            height: calc(100% - 8px)
            background: #5c5c5c

    > .top .left > p
        padding-left: 20px

    > .top .left > p > a
        font-weight: 700

    > .top .right > .columns
        display: flex

        @media screen and (max-width: 529px)
            flex-direction: column

    > .top .right > .columns > .column
        padding-right: 27px
        width: 200px
        text-align: right
        box-sizing: border-box

        @media screen and (max-width: 529px)
            margin: 0 auto 15px

    > .top .right > .columns > .column.is-company
        position: relative

        @media screen and (min-width: 530px)
            margin-right: 55px

    > .top .right > .columns > .column.is-company::after
        position: absolute
        top: 0
        right: 0
        content: ''

        width: 1px
        height: 315px

        background: #b9b9b9
        display: block

        @media screen and (max-width: 959px)
            display: none

    > .top .right > .columns > .column > .title
        font-size: 18px
        font-weight: 700
        color: #5c5c5c

    > .top .list
        font-size: 14px
        color: #5c5c5c

    > .top .list > .item
        position: relative
        padding-right: 14px

    > .top .list > .item::after
        position: absolute
        display: block
        content: ''
        width: 4px
        height: 4px

        top: 11px
        right: 0
        background: #5c5c5c

    > .bottom
        padding-top: 100px
        font-size: 12px
        color: #5c5c5c

        @media screen and (min-width: 1201px)
            margin-left: calc((100vw - 1200px) / 3)

    > .bottom > .links > .link
        display: inline-block
        padding: 0 7px

    > .bottom > .links > .link:first-child
        padding-left: 0

    > .bottom > .links > .link:not(:last-child)::after
        display: inline-block
        padding: 0 0 0 14px
        content: '/'

.partners
    display: none

    @media screen and (min-width: 1400px)
        display: block
        margin-left: auto
        padding-right: 22px
        padding-bottom: 170px
        text-align: right

    > .title
        padding-top: 20px
        padding-bottom: 20px
        font-size: 14px
        color: #7a7a7a


.partner-list
    padding: 2px