.hero
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    height: 570px
    background: url('../img/hero-bg.jpg') center / cover no-repeat

    @media screen and (min-width: 1200px)
        height: 870px
    
.hero-header
    margin-bottom: 70px
    text-align: center
    color: #454545
    font-weight: 600

.hero-title
    margin: 0
    padding: 0
    font-size: 24px

    @media screen and (min-width: 480px)
        font-size: 32px

    @media screen and (min-width: 580px)
        font-size: 44px

    @media screen and (min-width: 790px) 
        font-size: 60px

.hero-subtitle
    font-size: 18px

    @media screen and (min-width: 480px)
        font-size: 22px

    @media screen and (min-width: 580px)
        font-size: 28px

    @media screen and (min-width: 790px) 
        font-size: 36px

.hero-actions
    display: flex
    align-items: center
    color: #ffffff
    flex-direction: column

    @media screen and (min-width: 480px)
        flex-direction: row

    > .button
        margin-bottom: 20px
        padding: 12px 64px 14px
        font-size: 18px
        font-weight: 700
        background-color: #6f4882
        border-radius: 28px

        @media screen and (min-width: 480px)
            margin-bottom: 0
            margin-right: 25px

    > .button:hover
        text-decoration: none

.socials
    display: flex

    > .social
        display: flex
        align-items: center
        justify-content: center
        width: 46px
        height: 46px
        background-color: #6f4882
        border-radius: 50%
    
    > .social:first-child
        margin-right: 21px

.socials-right
    display: none

    @media screen and (min-width: 1200px)
        display: block
        padding: 0 5px
        position: fixed
        top: 320px
        right: 31px
        color: #676766
        font-size: 24px
        background: #ffffff
        border-radius: 3px

        > li:not(:last-child)
            margin-bottom: 12px

        > li > a 
            padding: 3px