.navbar
    position: absolute
    margin-top: 70px
    width: 100%

    @media screen and (max-width: 870px)
        margin-top: 15px

    ul
        display: flex

.navbar-row
    display: flex
    align-items: center

    margin-left: auto
    margin-right: auto
    max-width: 1400px

    @media screen and (max-width: 870px)
        display: flex
        flex-wrap: wrap

    @media screen and (min-width: 871px) and (max-width: 1420px)
        padding: 0 10px

.navbar-row:not(:last-child)
    margin-bottom: 14px

.navbar-brand
    @media screen and (max-width: 870px)
        width: 100%
        text-align: center
        margin-bottom: 10px
    a
        font-size: 30px
        line-height: 1
        font-weight: 700
        text-decoration: none

    a span:first-child
        color: #858688

    a span:last-child
        color: #5b4295

.navbar-menu
    margin-left: auto
    margin-right: 50px

    @media screen and (max-width: 870px)
        margin-right: auto
    
.navbar-item a
    display: block
    padding: 5px 10px
    font-size: 16px
    color: #454545
    text-decoration: none

.navbar-item:not(:last-child)
    margin-right: 3px

.navbar-item a:hover
    text-decoration: underline

.authorization

    @media screen and (max-width: 870px)
        display: none

    > .button
        display: inline-block
        padding: 0 18px

        font-size: 16px
        line-height: 40px
        font-weight: 700

        border-radius: 20px
        cursor: pointer

    > .button.-login
        color: #454545

    > .button.-signup
        height: 40px
        text-align: center
        color: #ffffff
        background: #582c7e url('/img/button-bg.png') center / cover no-repeat

.language

    @media screen and (max-width: 870px)
        margin-left: auto
        margin-right: auto

.language-item:not(:last-child)::after
    content: '/'
    color: #959595

.language-item a
    padding: 2px 10px
    color: inherit
    font-size: 14px
    text-decoration: none

.language-item:first-child a
    padding-left: 0

.language-item a:hover
    text-decoration: underline

.language-item.is-active a
    font-weight: 700
    text-decoration: underline