.security
    margin-left: auto
    margin-right: auto

    display: flex
    flex-direction: column

    color: #535353
    max-width: 1270px

    > header
        margin-left: auto
        margin-right: auto
        padding-right: 20px
        padding-bottom: 28px
        position: relative
        max-width: 630px

        text-align: right

        @media screen and (min-width: 1400px)
            margin-right: 33.33%

    > header::after

        @media screen and (min-width: 1400px)

            position: absolute
            bottom: 0
            right: -20px
            content: ""
            background: #b9b9b9

            width: 1px
            height: 434px

    > header > .title
        font-size: 32px

        @media screen and (min-width: 490px)
            font-size: 60px

    > header > .subtitle
        font-size: 18px
        line-height: 16px
        color: #959393

        @media screen and (min-width: 490px)
            font-size: 24px
            line-height: 22px

    > header > .subtitle b
        color: $accent

    > .button
        position: relative
        display: inline-block
        margin-left: auto
        margin-right: auto
        padding: 10px 10px 12px

        
        text-align: center
        color: #676767
        font-size: 14px
        line-height: 1

        background: #ffffff
        border: 1px solid #b9b9b9
        border-radius: 30px

        @media screen and (min-width: 490px)
            padding: 20px 0 22px
            font-size: 16px
            width: 320px

        @media screen and (min-width: 740px)
            margin-right: 33.33%
            transform: translateX(180px)

    > .button::before

        @media screen and (min-width: 740px)
            position: absolute
            bottom: 30px
            right: 320px
            content: ""
            background: #b9b9b9

            width: 2000px
            height: 1px
