.testimonials
    display: none
    margin-top: 70px
    margin-left: 19%
    margin-bottom: 110px

    @media screen and (min-width: 750px)
        display: block

    @media screen and (min-width: 1040px)
        margin-top: 0

    > .slider > .nav
        display: inline-block
        padding: 12px 14px

        vertical-align: top

    > .slider > .nav > .item
        display: block
        margin-bottom: 10px

        width: 11px
        height: 11px

        border: 1px solid transparent
        border-radius: 50%
        background: #b7b7b7

        cursor: pointer

    > input:nth-child(1):checked ~.slider > .nav > .item:nth-child(1),
    > input:nth-child(2):checked ~.slider > .nav > .item:nth-child(2),
    > input:nth-child(3):checked ~.slider > .nav > .item:nth-child(3)
        border-color: #101010
        background: #101010

    > .slider > .display
        display: inline-block
        width: 530px
        height: 160px

        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
        font-size: 24px
        line-height: 31px
        font-style: italic

        overflow: hidden

    > .slider > .display > .testimonial
        height: 100%
        transition: transform .15s ease-out

    > .slider > .display > .testimonial > .author
        font-size: 16px
        color: #727272

    > input:nth-child(1):checked ~.slider > .display > .testimonial
        transform: translateY(0)

    > input:nth-child(2):checked ~.slider > .display > .testimonial
        transform: translateY(-100%)

    > input:nth-child(3):checked ~.slider > .display > .testimonial
        transform: translateY(-200%)