body
    margin: 0

ul
    margin: 0
    padding: 0
    list-style: none

a
    color: inherit
    text-decoration: none

a:hover,
a:focus
    text-decoration: underline

h1, h2, h3, h4, p, figure
    margin: 0
    padding: 0
    font-weight: 400

.visuallyhidden
    border: 0
    clip: rect(0 0 0 0)
    clip-path: inset(50%)
    height: 1px
    margin: -1px
    overflow: hidden
    padding: 0
    position: absolute
    width: 1px
    white-space: nowrap