@import "vars"
@import "fonts"
@import "libs"

@import "base"
@import "components/navbar"
@import "components/hero"
@import "components/features"
@import "components/security"
@import "components/clients"
@import "components/testimonials"
@import "components/download"
@import "components/cta"
@import "components/footer"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

//utilities
.u-color-accent
	color: $accent !important